# database
MONGO_URL=

# nodemailer
CHANGEPASS_URL=
PEAKSYNAP_EMAIL=
PEAKSYNAP_PASSWORD=

#s3

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=

#JWT
JWT_SECRET=

#IA model server 
IA_Token=
